footer {
    background-color: #ebe3d0;
    text-align: center;
    padding: 10px;
        #logo-footer{
            width: 5%;
        }
        .rrss{
            i{
                padding: 8px;
                color: #D3643B;
            }
            &:hover{
                transform: scale(1.2, 1.2);
            }
            &:hover::after{
                opacity: 1;
            }
        }
        a{
            text-decoration: none;
        }
}