form {
    border: 1px #403B33 solid;
    border-radius: 5px;
    background-color: #D6E1C7;
    padding: 10px;
    display: inline-block;
    box-sizing: border-box;
        label{
            padding: 12px 12px 12px 0;
            display: inline-block;
        }
        .col-25{
            width: 25%;
            margin-top: 6px;
        }
        .col-75{
            width: 75%;
            margin-top: 6px;
        }
        input[type=text], input[type=email], select, textarea{
            width: 75%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }
        #btn-submit{
            color: #ebe3d0;
            background-color: #D3643B;
            border: none;
                &:hover{
                    background-color: #af4f2d;
                }
        }
        #btn-reset{
            border: 1px solid #b6b6b6;
            background-color: #EDEBE6;
            color: #403B33;
                &:hover{
                    background-color: #d8d8d8;
                }
        }
        .row{
            &:after{
                content: "";
                display: table;
                clear: both;
            }
        }
}