$estilos: (
    width-75: 75%,
    width-25: 25%,
    mt-6: 6px,
    colorbtn-1: #D3643B,
    colorbtn-2: #EDEBE6
);

form {
    border: 1px #403B33 solid;
    border-radius: 5px;
    background-color: #D6E1C7;
    padding: 10px;
    display: inline-block;
    box-sizing: border-box;
        label{
            padding: 12px 12px 12px 0;
            display: inline-block;
        }
        .col-25{
            width: map-get($estilos, width-25);
            margin-top: map-get($estilos, mt-6);
        }
        .col-75{
            width: map-get($estilos, width-75);
            margin-top: map-get($estilos, mt-6);
        }
        input[type=text], input[type=email], select, textarea{
            width: map-get($estilos, width-75);
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }
        #btn-submit{
            color: #ebe3d0;
            background-color: map-get($estilos, colorbtn-1);
            border: none;
                &:hover{
                    background-color: #af4f2d;
                }
        }
        #btn-reset{
            border: 1px solid #b6b6b6;
            background-color: map-get($estilos, colorbtn-2);
            color: #403B33;
                &:hover{
                    background-color: #d8d8d8;
                }
        }
        .row{
            &:after{
                content: "";
                display: table;
                clear: both;
            }
        }
}